/**** Fonte  *****/
@font-face{
	font-family: Helvetica;
	src: url(fonte/HelveticaCdLt.ttf); 
}
a,p,h1,h2,h3,h4,h5,h6,spam,body,div,ul,li,tr,td{
font-family: 'Helvetica', sans-serif;
}

a{
	color:#808080;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}
/**** Fonte *****/


/**** estilos genericos   *****/
.clearer{
	clear:both;
}

.borda{
	border: 0.5em 0.5em 0.5em 0.5em;
	border-color:black;
	border-style:dashed;
}

html{
	height:100%;
}

body{
	background-color:rgb(230,230,230);
	height:100%;
}

/**** estilos genericos   *****/


/**** Modulos da barra esquerda ***/
	/*** static main_left class ***/
	.main_left{
		float: left;
		height:auto;
		min-height:100%;
		width: 37%;
		/***border-color:black!important;
		border-right-style: solid !important;***/ 
        background-image:url("barra.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: auto 97%;
        position: relative;
        margin-top: -0.5%;
	}
	/*** static main_header class ***/
	.left_header{
        left: 50%;
        margin-left: -90px; /* A metade de sua largura. */
        position: relative;
        width: 200px; /* O valor que você desejar. */
    }
	/*** Modulo menu ***/
	div.modmenu{
		float: center;
		top:0px;
		margin-top:11.75%; margin-right:0px; margin-bottom:0px; margin-left:0px;
		padding-top:0%; padding-right:0%; padding-bottom:0px; padding-left:11.5%;
		opacity:1;
	}
	.modmenu h3{
		font-family: 'Marvel', sans-serif !important;
		font-size: 14px;
	}
	/*** Modulo menu ***/

/**** Modulos do cabecalho ***/

/**** Corpo principal ***/

	.modcorpo{
		float:auto;
		margin-left: 37%;
		min-height: 97%;  
		position: absolute;
		width:50%;
	}
	.corpo h2{
			color:#CC0000;
			font-weight:normal;
			font-size:24pt;
			padding-bottom:5px;
			padding-top:10px;
			margin-bottom:10px;
	}
	.imgOne{
		float:left;
		height: 30%;
		width: 34.6%;
		margin-top:6.9%;
		margin-left:5.4%;
		margin-right:30%;
		margin-bottom: %;
	}
	
	.imgTwo{
		width: 20.77%;
		height: 30%;
		margin-left:93.66%;
		margin-top:6.9%;
		margin-right: 6.23%;
	}
	
	.imgThree{
		float:left;
		width:28%;
		height:32%;
		margin-left:5.4%;
		margin-right:36.43%;
		margin-top:3.76%;
	}
	
	.imgFour{
		width: 27.30%;
		height: 23.5%;
		margin-left:87.12%;
		margin-right:6.23%;
		margin-top:3.76%;
	}
	
	.imgFive{
		float:left;
		width:28%;
		height:18.47%;
		margin-left:5.4%;
		margin-right:36.43%;
		margin-top:3.76%;
	}
	
	.imgSix{
		width:27.30%;
		height:26%;
		margin-left:87.12%;
		margin-right:6.23%;
		margin-top:3.76%;
	}
	/*.corpo h2:first-letter{
		color:#FFB600;
	}*/

/**** Corpo principal ***/

/**** Modulos de footer ***/
	.footer_main{
		float: center;
		text-align:left;
		height:10%;
	}
	.footer{
		float: center;
		text-align:center;
		height:10%;
	}
/**** Modulos de footer ***/
#item-101{
	background-image: url("programacao.png") !important;
	background-position: absolute;
	background-size: 100%;
	background-repeat: no-repeat;
}